Repository dewsign/maxfactor-vue-support: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, jsonlint, eslint

Release 1.0
  .markdownlintrc
  README.md
  changelog.md
  package-lock.json
  package.json
Due: markdownlint, jsonlint

1.0.0
  package-lock.json
  package.json
Due: jsonlint

Created `default` Vue filter to set a default value to be used when there is no base value.
  src/Filters/DefaultFilter.js
Due: eslint

Created `money` Vue filter to format a given value to a monetary value.
  src/Filters/MoneyFilter.js
Due: eslint

Created `percentage` Vue filter to format a given value to a percentage value.
  src/Filters/PercentageFilter.js
Due: eslint

Created `formatNumber` function to format a given string to a number with two decimal places
  src/Modules/FormatNumber.js
Due: eslint

Imported all Vue filters and `FormatNumber` module and added to Vue install method as well as export individually
  src/index.js
Due: eslint

Added comments to separate different imports
  src/index.js
Due: eslint

Updated changelog to reflect latest version
  changelog.md
Due: markdownlint

Updated NPM version to latest release
  package-lock.json
  package.json
Due: jsonlint

Refactored `formatNumber` helper function to return a string, rather than a float
  src/Modules/FormatNumber.js
Due: eslint

Refactored `money` filter to ensure it returns a 'number' with two decimal places
  src/Filters/MoneyFilter.js
Due: eslint

Installed Axios NPM package as using package to get data for Vuex store from API end-point
  package-lock.json
  package.json
Due: jsonlint

Created `AjaxStore` class as a base class for a Vuex store that requires an AJAX request to get store data from an API end-point
  src/Store/AjaxStore.js
Due: eslint

Exported `AjaxStore` module from JavaScript entry point
  src/index.js
Due: eslint

Created `AjaxStore` documentation
  src/Store/README.md
Due: markdownlint

Updated changelog
  changelog.md
Due: markdownlint

Updated NPM package version to `1.1.1`
  package.json
Due: jsonlint

Add locale state for managing current locale
  src/Store/AjaxStore.js
Due: eslint

Update getters to use new locale state
  src/Store/AjaxStore.js
Due: eslint

Allow setting of the current locale
  src/Store/AjaxStore.js
Due: eslint

Inject the current locale into the action url
  src/Store/AjaxStore.js
Due: eslint

Use Vue.set to ensure all items are reactive
  package-lock.json
  package.json
  src/Store/AjaxStore.js
Due: jsonlint, eslint

Update changelog
  changelog.md
Due: markdownlint

Import lodash package for helper methods
  package-lock.json
  package.json
  rollup.config.js
Due: jsonlint, eslint

Ability to select an item from the store and update a selected item in a store.
  src/Store/AjaxStore.js
Due: eslint

Helper component to provide a way to disconnect an object from reactivity in order to commit changes using Vuex actions.
  src/Store/XModel.js
  src/index.js
Due: eslint

Additional components required for pusher implementation
  src/Store/AjaxStore.js
Due: eslint

CMS Connector to enable pusher
  src/Store/CmsConnector.js
Due: eslint

Include the CMS Connector
  src/index.js
Due: eslint

Include new deps
  package-lock.json
  package.json
  rollup.config.js
Due: jsonlint, eslint

Fix incorrect lock version
  package-lock.json
Due: jsonlint

Always refer to both local scope and root scope to define and determine if either have errors
  src/Mixins/FormMixin.js
Due: eslint

Treat axios as external dep
  rollup.config.js
Due: eslint

1.1.2
  package-lock.json
  package.json
Due: jsonlint

Makes the form mixin compatible with newer builds where the is no root form variable as well as older installs with root form and component forms
  src/Mixins/FormMixin.js
Due: eslint

Rollup watch
  package.json
Due: jsonlint

method to clear form errors for a specific field
  src/Mixins/FormMixin.js
Due: eslint

clear field errors method
  src/Mixins/FormMixin.js
Due: eslint

Path conditions:
  markdownlint: any of: *.md
  jsonlint: (any of: *.json) or (any of: .*rc)
  eslint: (any of: *.js) or (any of: *.vue)
