Repository dewsign/maxfactor-vue-support: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint, jsonlint, eslint

update changelog
  changelog.md
Due: markdownlint

1.1.3
  package-lock.json
  package.json
Due: jsonlint

Enable destructs
  .babelrc
  package-lock.json
  package.json
  rollup.config.js
Due: jsonlint, eslint

Avoid errors for form mixins on validation
  src/Mixins/FormMixin.js
Due: eslint

Updated Changelog
  changelog.md
Due: markdownlint

1.1.4
  package-lock.json
  package.json
Due: jsonlint

date ordinal
  src/Modules/DateOrdinal.js
Due: eslint

export in index
  src/index.js
Due: eslint

update ordinal module name
  src/Modules/DateOrdinal.js
Due: eslint

1.1.5
  package-lock.json
  package.json
Due: jsonlint

Path conditions:
  markdownlint: any of: *.md
  jsonlint: (any of: *.json) or (any of: .*rc)
  eslint: (any of: *.js) or (any of: *.vue)
